

## PocketHealthcare - USER MANUAL
**[Test suite script result]**
Arise - Pocket Healthcare Application

By: Blezel M. Tajor
***
**Purpose and Objectives**

  This manual is intended to teach QA or other staff how to check the Katalon test suite scripts result after running a test suite. The purpose of this is to check if all the scripts are Passed or Failed.

**What you need**

1.  Running Katalon studio.
    
2.  The test suite is already executed.
    
*If the above steps have already been performed, proceed to the steps to check the Katalon script result using your PC or Laptop.*

  

**Step 1**
-   Open the Project directory
-   In my case, I saved the project in ‘Documents’.
  
![](https://lh5.googleusercontent.com/KfBC9PIQF6Z1-9ul3Olb8yTF8LxLzcC30beJR7AX2MYJ-j08kCTiNEeLTj7mtHpf1W3LqloqipeUQCIEYVnv0KGMA8QI9XpyLQwvSTZUs0sVis7Oku5xQS2_PFg8mFBVcA7QNBfP)  

**Steps 2**
-   Double-click the ‘Reports’ folder.
-   Double-click any files written in dates.
	- Example - `20210225_114554`
-   Click the folder until the report files are displayed.
  
![](https://lh4.googleusercontent.com/Kz2zfzdrynGFdgHrXyM3awTot9LXolx-P4Qwlkpm1XGbS2tFYH-8m-rqhWo4QR6Behvy12TML04Xgph5XZWGQ8jC-Nic0b5QT1X7Vsnhmvd2Cj6rJjQOfObal-cpc6XzsGHexbRc)  
  

**Steps 3**

1.  To check via HTML, double click the HTML file.

![](https://lh4.googleusercontent.com/cujFsouOVk11ZuhC44nlObmsLLN4hKoJwF-Y5otOwKsJ9sM9TxqoWd58Sh3vxgOYkusFqMG937QqUXph2y9hDGbQ2mAqeMkBEMESLy7d93ML54ZoDNc58bLdaLi65I8wUc7nRp69)

2.  To check via CSV, double click the CSV file.

  
![](https://lh5.googleusercontent.com/PGu5idghHUCKra_3s5TYvEzLpDUTBkbWVPrgGB8fXWFGSMMzl7Mx4Dqh4JY7RsRu0CVi9d_NMDhP_4WjPY6y-D14IyBlbusZJv-pq0dq6db_UIusdwH3Vg7FdUX51sod_cbPJh5U)  

**Conclusion**

Therefore I conclude that the QA or staff can check the test script results after following these steps.
